<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
      <h1>NextVideo JSON API</h1>
      <h2>Methods:</h2>
      <dl>
            <dt><a href="/Series">/Series</a></dt>
            <dd>Returns a list of all the Series</dd>
            <dt><a href="/WatchList">/WatchList</a></dt>
            <dd>Returns a list your WatchList</dd>
            <dt><a href="/Series/GOT">/Series/{seriesID}</a></dt>
            <dd>Get next episode to watch and increment</dd>
            <dt><a href="/Series/GOT/Play">/Series/<seriesID>/Play</a></dt>
            <dd>Play next episode (update datetime watched)</dd>
            <dt><a href="/Series/GOT/Inc">/Series/{seriesID}/Inc</a></dt>
            <dd>Manually increment to the next episode</dd>
            <dt><a href="/Series/GOT/Dec">/Series/{seriesID}/Dec</a></dt>
            <dd>Manually decrement to the previous episode</dd>
            <dt><a href="/Series/GOT/IncSeason">/Series/{seriesID}/IncSeason</a></dt>
            <dd>Manually increment to the next Season</dd>
            <dt><a href="/Series/GOT/DecSeason">/Series/{seriesID}/DecSeason</a></dt>
            <dd>Manually decrement to the previous Season</dd>
          </dl> 
  </body>
</html>